
* {
    -webkit-font-smoothing: subpixel-antialiased;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* try arial, mont serrit*/
  body {
    margin: 0 auto;
    overflow-x: hidden;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  }
  
  /* common  */
  .section-padding{
    padding: 50px 0px 50px 0px;
  }

  .head {
    font-size: 45px;
    /* color: #132356; */
    font-weight: 700;
    /* text-transform: capitalize; */
    /* max-width: 80%; */
    margin: auto;
  }
  
  .sub-head {
    font-size: 20px;
    /* color: #132356; */
    font-weight: 500;
    margin-top: 10px;
  }
  
  p {
    /* color: #132356; */
  }
  
  .body-text {
    font-size: 1.2rem;
  }
  
  .no-pc {
    display: none;
  }
  
  .hr-line{
    width: 30%;
    height: 3px;
    background-color: #15becfeb;
    margin: auto;
    border-radius: 50%;
    display: none;
  }
  
  
  /* text animation */
  .reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  
  .active.fade-bottom {
    animation: fade-bottom 0.5s ease-in;
  }
  
  .active.fade-left {
    animation: fade-left 0.5s ease-in;
  }
  
  .active.fade-right {
    animation: fade-right 0.5s ease-in;
  }
  
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* text animation end */
  
  /* common end */

  /* Theme slider start */
  
  .switch {
    /* position: relative; */
    display: inline-block;
    width: 60px;
    height: 34px;
    position: fixed;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* Theme slider end */



  /* Banner */

.banner{
  height: 100vh;
  background: url('assets/banner.jpg');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.banner-text{
  float: right;
  margin-top: 20vh;
}

.logo{
  width: 10em;
  margin: 45px 55px;
}
  
.main-head {
    font-size: 6em;
    font-weight: bold;
    margin-top: -40px;
    text-transform: capitalize;
    /* color: #e2e2e2; */
  }
  
  .main-sub-head {
    font-size: 1.3em;
    text-transform: capitalize;
    text-align: right;
    color: #e2e2e2;

  }

  .banner-btn{
    background: linear-gradient(155deg, rgba(0,41,77,1) 0%, rgba(9,70,121,1) 56%, rgba(0,112,255,1) 100%);
    border: none;
    font-weight: 600;
  }

  .banner-btn:hover{
    background: linear-gradient(155deg, rgb(0, 32, 59) 0%, rgb(8, 58, 99) 56%, rgb(1, 86, 197) 100%);
    border: none;
  }

  /* Banner end */



  /* What is coderX */

  .what{
    padding: 50px 0px 50px 0px;
  }

  .what-illu{
    /* max-width: 45em; */
    margin-top: 0px;
  }

  /* What is coderX end */



  /* Why coderX start */

  .why{
    padding: 50px 0px 50px 0px;
    background-color: #52525225;
  }
  .why-illu{
    /* max-width: 60%; */
  }

  /* Why coderX start end */




  /* Programming tracks starts  */
  .prog-trac{
    padding: 50px 0px 50px 0px;
  }

  
  .trend-card {
    width: 190px;
    padding: 5px;
    border-radius: 40px 40px 45px 45px !important;
    border: none;
    margin: auto;
    background: rgb(255, 255, 255);
    /* background: -moz-linear-gradient(45deg, rgba(0,48,91,1) 0%, rgba(30,125,204,1) 78%, rgba(51,141,255,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0,48,91,1) 0%, rgba(30,125,204,1) 78%, rgba(51,141,255,1) 100%);
    background: linear-gradient(45deg, rgba(0,48,91,1) 0%, rgba(30,125,204,1) 78%, rgba(51,141,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00305b",endColorstr="#338dff",GradientType=1);
    overflow: hidden; */

    box-shadow: 1px 2px 2px 3px #66666625;
  }

  .trend-card-title {
    color: #002575;
    margin-left: 10px;
    margin-top: 15px;
  }

  .p-b{
    color: #002575;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-top: 2px;
    padding-bottom: 4px;
  }

  .btn-pb-enroll{
    border: 0.3px solid #282C2F;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .pro{
    background-color: #002575;
    color: #ffffff;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 2px;
    padding-bottom: 4px; */
    border-radius: 10px;
  }

  .pro-title{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 45px 45px 0px 0px;
    width: inherit;
    margin: -5px;
    font-weight: bold;
    color: #e2efff;
    background: rgb(16,106,13);
    background: -moz-linear-gradient(142deg, rgba(16,106,13,1) 0%, rgba(52,255,86,1) 100%);
    background: -webkit-linear-gradient(142deg, rgba(16,106,13,1) 0%, rgba(52,255,86,1) 100%);
    background: linear-gradient(142deg, rgba(16,106,13,1) 0%, rgba(52,255,86,1) 100%);
  }

  .basic-title{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 45px 45px 0px 0px;
    width: inherit;
    margin: -5px;
    font-weight: bold;
    color: #e2efff;
    background: rgb(13,45,106);
    background: -moz-linear-gradient(124deg, rgba(13,45,106,1) 0%, rgba(52,103,255,1) 100%);
    background: -webkit-linear-gradient(124deg, rgba(13,45,106,1) 0%, rgba(52,103,255,1) 100%);
    background: linear-gradient(124deg, rgba(13,45,106,1) 0%, rgba(52,103,255,1) 100%);
  }

  .dummy1 {
    width: 100px;
    height: 10px;
    margin-left: 10px;
    background-color: rgba(255, 192, 203, 0.562);
    border-radius: 20px;
  }

  .dummy2 {
    width: 100px;
    height: 10px;
    margin-left: 10px;
    background-color: rgba(192, 201, 255, 0.562);
    border-radius: 20px;
    margin-top: 10px;
  }

  .illu-img-trend {
    max-width: 90px;
    height: 100px;
    /* max-height: 100px; */
    margin-top: 25px;
    margin-bottom: -15px;
    /* margin-right: 15px !important; */
  }

  .illu-img-div{
    padding: 10px ;
  }

  /* Programming tracks starts end*/

  
/* Footer */
.footer {
  padding: 0px 0px 20px 0px;
  background-color: #282C2F;
  /* border-top: 0.1px solid #474747; */
}


/* .footer{
  background-color: #EFEFEF;
} */

.footer-header{
  /* font-family: 'Open Sans'; */
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-text{
  /* font-family: 'Open Sans'; */
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #ffffff;
  text-align: left;
  margin-top: 20px;
  text-decoration: none;

}

.footer-text ul{
  list-style-type: none;
}

.footer-text a{
  color: #ffffff;
  text-decoration: none;

}

.footer-text li::before {
  content: '';
  margin-left: -30px;
}

.footer-text a:hover{
  text-decoration: none;
  color: #6986b1;
}

.social-media-icons{
  margin-left: -30px;
  width: 20vw;
}


.social-media-icons i{
  font-size: 1.4rem;
  color: #c7c7c7;
}

.social-media-icons i:hover{
  color: #ffffff;
}

.footer-logo{
  /* font-family: 'Open Sans'; */
  font-weight: 400;
  font-size: 9px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: -5px;
}

.footer-logo > img{
  filter: invert(100%) sepia(69%) saturate(56%) hue-rotate(265deg) brightness(117%) contrast(100%);
}

/* .sub-footer-mid{
 justify-content: center;
 align-items: center;
 margin-top: -5px;
} */

.sub-footer-text{
  /* font-family: 'Open Sans'; */
  font-weight: 400;
  font-size: 10px;
  line-height: 170%;
  text-transform: capitalize;
  color: #ffffff !important;
  text-align: center;
  margin-top: -35px;
  /* padding-bottom: 10px; */
  text-decoration: none;

}

.sub-footer-text a{
  color: #ffffff;
  text-decoration: none;

}

.sub-footer-text a:hover{
  text-decoration: none;
  color: #e2efff;
}

.navbar-toggler{
  border: none !important;
}

.navbar-collapse{
  background: #ffffff;
  background-size: contain;
}

.footer-mobile{
  display: none;
}

.only-for-mobile{
  display: none;
}





  

@media screen and (max-width: 770px){
  

  .footer-pc{
      display: none !important;
  }

  .footer-mobile{
      display: block;
  }

}





/* Secondary page start */


/* Sub banner start */
.sub-banner{
  height: 80vh;
}

.sec-main-head{
  font-size: 6rem;
  font-weight: 700;
  text-transform: capitalize;
}

.sec-head-key{
  color: #ff8800;
}

.know_link:link{
  color: var(--bs-body-color);
}

.enroll-btn{
  /* background-color: #002575; */
}
/* Sub banner end */


/* Course overview start */
.co{
  background-color: rgba(0, 0, 0, 0.055);
}


.circle{
  /* height: 100px;
  width: 100px; */
  border: 5px solid;
  border-radius: 50%;
  text-align: center;
  height: 220px;
  width: max-content;
  margin: auto;
}

.circle-title{
  margin-top:-5px;
  background-color: #ff8800;
  color: #ffffff;
  width: max-content;
  font-size: 1.3em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
}

.circle-content{
  margin-left: 45px !important;
  margin-right: 45px !important;
  margin-top: 15px;
}

.circle-points:before{
  content: '⸰';
}
/* Course overview end */



@media only screen and (max-width: 500px){
  .sub-banner{
    height: 100vh;
  }

  .logo{
    width: 7em;
    margin: 35px 35px;
  }

  .sec-main-head{
    font-size: 3.6em;
  }
}



/* Secondary page end */